{% extends 'registration/base.html' %}
{% block content %}
{% load static %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <link rel="stylesheet" type="text/css" href="{% static 'registration/style.css' %}" />

 <div class="container-fluid">
    
    <ul class="nav navbar-nav">
      
     <li><a href="/userhome" id="branding">
            <div class="logo-copy">
               <h1 class="site-title">Navigator</h1>
               <small class="site-description">World at your fingertips</small>
            </div>
         </a></li>
     
      
      <li>
                <img src="/media/{{ user.image }}" width="60" height="60" name="profilepic"
                onmouseover="profilepic.width=150;profilepic.height=150;" onmouseout="profilepic.width=60;profilepic.height=60;">
             </li>
      <li><a href="{%url 'registration:edit'%}">Edit profile</a></li>
      <li><a href="{%url 'registration:addplace'%}">add place</a></li>
      
    
            
            
             
               <li><a href="{% url 'registration:logout' %}">Logout</a></li>
            </ul>
  
</nav>
</div>
<div class="container">
<h1>{{questiontext}}</h1>
<form method="post" id="id_new_answer">
	{% csrf_token %}
	{{form.as_p}}
	<input type="submit" >
</form>
<div id="answer">
<ul>
{% for answers in answers %}

<li><h4>{{answers.answer}}</h4>
<p>posted by:<b>{{answers.user}}</b></p>
</li>
{% endfor %}
</ul>
</div>
</div>
<script type="text/javascript">
    $(document).on('submit','#id_new_answer',function(e){
      e.preventDefault();
       $.ajax({
         type:'POST',
         url:'{{question}}/addanswer',
         data:{answer:$('#id_answer').val(),
            
         csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
   },success:function(response){
    $('#answer').prepend(response.answer)
   }});
      
    });
     
   </script>
   {% endblock %}