<!DOCTYPE html>
<html lang="en" >
<head>
{% load static %}

  <meta charset="UTF-8">
  <title>ADD Location</title>

  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="{% static 'registration/edit.css' %}" />

  
</head>

<body>
<div class="container-fluid" style="position: sticky;top: 0;z-index: 1;">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    
    <ul class="nav navbar-nav">
      
     <li><a href="/userhome" id="branding">
            <div class="logo-copy">
               <h1 class="site-title">Navigator</h1>
               <small class="site-description">World at your fingertips</small>
            </div>
         </a></li>
     
      
      <li>
                <img src="/media/{{ user.image }}" width="60" height="60" name="profilepic"
                onmouseover="profilepic.width=150;profilepic.height=150;" onmouseout="profilepic.width=60;profilepic.height=60;">
             </li>
      <li><a href="{%url 'registration:edit'%}">Edit profile</a></li>
      <li><a href="{%url 'registration:userhome'%}">Location Review</a></li>
      
    
            
            
              
               <li><a href="{% url 'registration:logout' %}">Logout</a></li>
            </ul>
          </div>
  
</nav>
</div>
  

  <div class="form">
      <form method="post" id="new_user_form" action="insert" enctype="multipart/form-data">
   {% csrf_token %}
   {{ form.as_p }}

   <button type="submit" class="button button-block">Add Place</button><br>
   
</form>
      
</div> <!-- /form -->
  




</body>

</html>
