

{% extends 'registration/base.html' %}
{% block content %}
{% load static %}
{% load mathfilters %}
<link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static 'location/style.css' %}" />
<link rel="stylesheet" href="{% static 'location/star.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div class="container-fluid" style="position: sticky;top: 0;z-index: 1;">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    
    <ul class="nav navbar-nav">
      
     <li><a href="/userhome" id="branding">
            <div class="logo-copy">
               <h1 class="site-title">Navigator</h1>
               <small class="site-description">World at your fingertips</small>
            </div>
         </a></li>
     
     
      <li>
                <img src="/media/{{ user.image }}" width="60" height="60" name="profilepic"
                onmouseover="profilepic.width=150;profilepic.height=150;" onmouseout="profilepic.width=60;profilepic.height=60;">
             </li>
      <li><a href="{%url 'registration:edit'%}">Edit profile</a></li>
      <li><a href="{%url 'registration:addplace'%}">add place</a></li>
      <li><a href="/userhome">Location reviews</a></li>
      <li><a href="{% url 'registration:logout' %}">Logout</a></li> 
      
    </ul>
    <div class="main-navigation">
            <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
            <ul class="menu" style="background-color:#282726 ;">
              <li><form action="/search" method="POST">
  {% csrf_token %}
  <input type="text" name="search">
  <input type="submit" name="searchbutton" value="Search Place">
</form></li>

               
            </ul>
  </div>
</nav>
</div>

<div id="site-content">
   <header class="site-header">
      <div class="container">
         
         <!-- #branding -->
         
         <!-- .main-navigation -->
         

  <!-- Modal -->
  <div class="modal fade" id="addquestion" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        
        <div class="modal-body">
          
          <form method="post" id="id_new_question">
      {% csrf_token %}
      {{ questionform.as_p}}
      <button type="submit">Add Question</button>
    </form>
        <div id="display_question">

    {% for question in question%}
    <a href="{{question.pk}}" >{{question.question}}</a>
    <br>
    {% endfor %}
  </div>
        </div>
        
      </div>
      
    </div>
  </div>
         <div class="mobile-navigation"></div>
      </div>
   </header>
   <main class="main-content">
      <div class="container">
         <div class="page">
            <div class="breadcrumbs">
               <span>{{place.location}}</span>
               <span class="ask"><a href="#"  data-toggle="modal" data-target="#addquestion">Ask a question?</a></span>
            </div>
            <div class="content">
               <div class="row">
                  <div class="col-md-6">
                     <figure class="movie-poster"><img src="/media/{{place.image}}"></figure>
                  </div>
                  <div class="col-md-6">
                     <h2 class="movie-title">{{place.location}}</h2>
                     
                     <p>{{place.description}}</p>
                     <ul class="movie-meta">
                        <li><strong>Rating:</strong> 
                           <div id="rating">{{avg_rating|floatformat:"2"}} out of 5</div>
                        </li>
                     </ul>
                     <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Review:</button>
                  </div>
               </div>
               <!-- .row -->
               

<!-- Modal -->

<div class="modal fade" data-backdrop="" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <img src="/media/{{request.user.image}}" class="img-circle" style="width: 100;height: 100;"><h4 class="modal-title"><p>{{request.user.first_name}}</p></h4>
            </div>
            <div class="movie-summary">
                         <ul class="movie-meta">
                        
                     </ul>
                     <h2>Add your reviews here</h2>
                     <form  method="post" id="new_review">
                        {% csrf_token %}
                        <span class="star-cb-group">
                        <input type="radio" id="rating-5"  name="rating" value="5"/><label for="rating-5">5</label>
                        <input type="radio" id="rating-4"  name="rating" value="4"  /><label for="rating-4">4</label>
                        <input type="radio" id="rating-3"  name="rating" value="3" /><label for="rating-3">3</label>
                        <input type="radio" id="rating-2"  name="rating" value="2" /><label for="rating-2">2</label>
                        <input type="radio" id="rating-1"  name="rating" value="1" /><label for="rating-1">1</label>
                        <input type="radio" id="rating-0" name="rating" value="0" class="star-cb-clear" /><label for="rating-0">0</label>
                        </span><br>
                        <textarea name="review" id="id_review" cols="40" maxlength="500" rows="10"></textarea><br>
                        <input type="submit" id="first" value="submit">

                     </form>
                     </div>
                     
            
            <div class="modal-footer">
                <button type="button" id="second" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>

</div>
<div class="modal fade" id="ModalRating" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        
        <div class="modal-body">
          <p>Rating inserted</p>
        </div>
        
      </div>
      
    </div>
  </div>

               <div class="entry-content">
<div id="new"></div>
                  {% for reviews in reviews%}
                  <div id="{{reviews.user.pk}}">
                  <h3>by:{{reviews.user}}</h3>
                  <img src="/media/{{reviews.user.image}}" style="height: 60;width: 60;">
                  <p><b>{{reviews.review}}</b></p>
                  {%with y=reviews.rating%}

{% for i in y|rjust:y %}

<span class="fa fa-star checked"></span>
{% endfor %}
{% endwith %}
{% if reviews.rating < 5 %}
{% with x=5|sub:reviews.rating%}
{% for i in "x"|rjust:x %}

<span class="fa fa-star"></span>
{% endfor %}
{% endwith%}
{% endif %}

                  
                    <hr>
                  </div>
                  {% endfor %}
               </div>
            </div>
         </div>
      </div>
      <!-- .container -->
   </main>
   <footer class="site-footer">
      <div class="container">
         <div class="colophon">Copyright 2018 Navigator, Designed by Themezy. All rights reserved</div>
      </div>
      <!-- .container -->
   </footer>
</div>
<!-- Default snippet for navigation -->
<script type="text/javascript">
   $(document).on('submit','#new_review',function(e){
      e.preventDefault();
      $.ajax({
         type:'POST',
         url:'userreview',
         data:{review:$('#id_review').val(),
         rating:$('input:radio[name=rating]:checked').val(),
            
         csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
   },success:function(response){
    var a=response.rating;
    var tag=""
    $('#myModal').modal('hide');
      for(var i=0;i<a;i++)
      {
        tag=tag + "<span class='fa fa-star checked'></span>"
      }
      for(var i=0;i<5-a;i++){
        tag=tag+"<span class='fa fa-star'></span>"
      }
      response.addhtml=response.addhtml + tag + "<hr>"
      $('#rating').html(response.message);
      if(response.flag==1)
      {
      $('#'+response.pk).html(response.addhtml)

     }
     else
     {
      $('#new').html(response.addhtml)
    }
      
$('#ModalRating').modal('show');
setTimeout(function() {
                       $('#ModalRating').modal('hide');
                   }, 1000);
      


      

   }


      });
      
   });
   </script>
   <script type="text/javascript">
    $(document).on('submit','#id_new_question',function(e){
      e.preventDefault();
       $.ajax({
         type:'POST',
         url:'addquestion',
         data:{question:$('#id_question').val(),
         rating:$('input:radio[name=rating]:checked').val(),
            
         csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
   },success:function(response){
    $('#display_question').prepend(response.question)

   }});
      
    });
     
   </script>
   
  
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

