{% extends 'registration/base.html' %}
{% block content %}
 {% load static %}
<script src="{% static 'js/el-pagination.js'%}"></script>
<script >$.endlessPaginate();</script>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'registration:userhome' %}">Navigator...</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{% url 'registration:home' %}">Home</a></li>
     
      <li><a href="{% url 'registration:signup' %}">Sign Up</a></li>
      <li><a href="{% url 'registration:signin' %}">Sign In</a></li>

      
    </ul>
  </div>
</nav>
<div class="container">
  {% include page_template %}
</div>
 
{% endblock %}

