{% load el_pagination_tags %}
{% load review_tags %}
{% load mathfilters %}

{% paginate 2 place %}

	{% for details in place %}
<a href="/review/{{details.pk}}"><h2>{{ details.location }}</h2></a>


<h4>{{details.category}}</h4>

{% review_average details.pk as x %}
{%with y=x%}
{% if x > 0%}
{% for i in y|rjust:y %}

<span class="fa fa-star checked"></span>
{% endfor %}
{% endif %}
{% endwith %}
{% if x < 5 %}
{% with x=5|sub:x%}
{% for i in "x"|rjust:x %}

<span class="fa fa-star"></span>
{% endfor %}
{% endwith%}
{% endif %}

<h4>({% review_count details.pk %} reviews)</h4>




<h4>{{details.description}}</h4>
<a href="/review/{{details.pk}}"><img src="/media/{{details.image}}" style="height: 400;width: 400;"></a>
<br><br><hr>
{% endfor %}
{% show_more "More results" %}

