<!DOCTYPE html>
<html lang="en" >
<head>
{% load static %}

  <meta charset="UTF-8">
  <title>Sign-Up/Login Form</title>
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="{% static 'registration/edit.css' %}" />

  
</head>

<body>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'registration:userhome' %}">Navigator...</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{% url 'registration:home' %}">Home</a></li>
     
      <li><a href="{% url 'registration:signup' %}">Sign Up</a></li>
      <li><a href="{% url 'registration:signin' %}">Sign In</a></li>

      
    </ul>
  </div>
</nav>

  <div class="form">
      <form method="post">
   {% csrf_token %}
   {{ form.as_p }}
   <button type="submit" class="button button-block">Login</button><br><br>
   
</form>
      
</div> <!-- /form -->
  




</body>

</html>
