{% extends 'registration/base.html' %}

{% block content %}
{% block js %}
{{ block.super }}
{% load static %}
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{% static 'js/el-pagination.js'%}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'registration/style.css' %}" />
<link 
  href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" 
  rel="stylesheet"  type='text/css'/>
<script >$.endlessPaginate();</script>
{% endblock %}
<div class="container-fluid" style="position: sticky;top: 0;z-index: 1;">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    
    <ul class="nav navbar-nav">
      
     <li><a href="/userhome" id="branding">
            <div class="logo-copy">
               <h1 class="site-title">Navigatorrrrrrrrrrrr</h1>
               <small class="site-description">World at your fingertips</small>
            </div>
         </a></li>
     
      
      <li>
                <img src="/media/{{ user.image }}" width="60" height="60" name="profilepic"
                onmouseover="profilepic.width=150;profilepic.height=150;" onmouseout="profilepic.width=60;profilepic.height=60;">
             </li>
      <li><a href="{%url 'registration:edit'%}">Edit profile</a></li>
      <li><a href="{%url 'registration:addplace'%}">add place</a></li>
      
    
            
            
              <li><form action="search" method="POST">
  {% csrf_token %}
  <input type="text" name="search">
  <input type="submit" name="searchbutton" value="Search Place">
</form></li>
               <li><a href="{% url 'registration:logout' %}">Logout</a></li>
            </ul>
  
</nav>
</div>
<h1>welcome {{user.first_name}}</h1>


<div class="container">
	{% include page_template %}
</div>


<script src="{% static 'location/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'location/plugins.js' %}"></script>
      <script src="{% static 'location/app.js' %}"></script>

{% endblock %}